
@{
    ViewBag.Title = "Dashboard:Exam Poppers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="col-sm-offset-1"> 
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <h2>  Let's Get Started </h2> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="@Url.Action("Game", "Home")">Start New Game</a></li>
                <li><a href="@Url.Action("AddQuestionAndQuestionList", "Home")">Add Questions</a></li>
                <li><a href="#">Check High Scores</a></li>
            </ul>
        </div>

    </div>

